@color-dark: #111;
@color-mid: #333;
@color-bright: #eee;
@color-bg: #fafafa;
@color-accent-1: #ff2a68;

@avatar-size: 20em;

* {
  box-sizing: border-box;
}

html{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: @color-bg;
  font-family: 'Roboto Mono', monospace;
}

header {
  margin: 0 auto;
  margin: 5vh;
  text-align: center;
}

.avatar-wrapper {
  box-sizing: border-box;
  width: @avatar-size;
  height: @avatar-size;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid @color-dark;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  background: linear-gradient(216deg, #ffffff, #ffffff, #ffd0e4, #ceffdf, #ccd4ff, #fbffda, #daffff, #f7daff);
  background-size: 1200% 1200%;
  background-position: 75% 0%;
  animation: 50s linear 2s infinite normal avatar-bg ;
}

.avatar{
  width: @avatar-size;
  height: @avatar-size;
  path {
    fill-opacity: 0;
    stroke-width: 4;
    stroke: black;
    stroke-dasharray: 53302px; // total length of path
    stroke-dashoffset: 53302px;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: draw;
    animation-timing-function: linear;
    animation-duration: 4s;
  }

}

.name {
  margin: 0 auto;
  font-size: 3em;
  line-height: 1em;
	width: 11ch; /* 0.7em * 11ch */
  height: 1em;
  color: #222;
  font-weight: 300;
  white-space: nowrap;
	border-right: .05em solid;
	overflow: hidden;
	animation: typing 4s steps(11, end),
	           caret .5s step-end infinite alternate;
}

.char{
  width: 0.7em;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav {
  text-align: center;
  padding: 0;
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1em;
  list-style-type: none;
  color: #555;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: center;

  li{
    &::after{
      margin: 0 0.5em;
      content: "-";
    }
    &:last-child::after{
      content:"";
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: @color-mid;
      padding-bottom: 0.3em;
      border-bottom: 0px;
      transition: color 0.5s ease;
      &::after{
        content: "";
        display: block;
        position: relative;
        top: 0.5em;
        width: 100%;
        height: 1px;
        transition: 0.5s ease;
        opacity: 0;
        background-color: @color-accent-1; /* fallback color if gradients are not supported */
        //background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0) 10%, @color-accent-1 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0)); /* Standard syntax; must be last */
      }
      &:hover::after{
        opacity: 1;
      }
      &:hover{
        color: @color-accent-1;
      }
    }
  }

}

hr {
  border: none;
  &::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: @color-dark;
  }
}

section {
  font-family: Helvetica, Arial, Sans-serif;
}

@keyframes typing { from { width: 0; } }
@keyframes caret { 50% { border-color: transparent; } }
@keyframes avatar-bg {
  0%{
    background-position:75% 0%;
  }
  50%{
    background-position:26% 100%;
  }
  100%{
    background-position:75% 0%;
  }
}
@keyframes draw {
    40% {
      stroke-width: 4;
      fill-opacity: 0;
      stroke-dashoffset: 49000px;
    }
    50% {
      stroke-width: 4;
      fill-opacity: 0;
      stroke-dashoffset: 40000px;
    }
    80% {
      stroke-width: 2;
      stroke-dashoffset: 20000px;
    }
    100% {
      stroke-width: 0;
      fill-opacity: 1;
      stroke-dashoffset: 0;
    }
  }
