@color-dark: #111;
@color-mid: #333;
@color-bright: #eee;
@color-bg: #fafafa;
@color-accent-1: rgb(89.7%, 48.7%, 99.9%);
@maxBodyWith: 620px;
@bodyWidth: 80vh;
@verticalMargin: 5vh;

.centralColumn() {
  width: @bodyWidth;
  max-width: @maxBodyWith;
}

* {
  box-sizing: border-box;
}

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 2em;
  background: @color-bg;
  font-family: "Roboto Mono", monospace;
}

header {
  margin: 0 auto;
  margin: @verticalMargin 5vw;
  text-align: center;
}

#avatar-wrapper {
  box-sizing: border-box;
  max-width: 20em;
  width: 40vw;
  max-height: 20em;
  height: 40vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid @color-dark;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  background: linear-gradient(
    216deg,
    #ffffff,
    #ffffff,
    #ffd0e4,
    #ceffdf,
    #ccd4ff,
    #fbffda,
    #daffff,
    #f7daff
  );
  background-size: 2000px 2000px;
  background-position: 75% 0%;
  animation: 50s linear 2s infinite normal avatar-bg;
}

#avatar {
  max-width: 20em;
  width: 40vw;
  max-height: 20em;
  height: 40vw;
  path {
    fill-opacity: 0;
    stroke-width: 4;
    stroke: black;
    stroke-dasharray: 53302px; // total length of path
    stroke-dashoffset: 53302px;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: draw;
    animation-timing-function: linear;
    animation-duration: 4s;
  }
}

#name {
  margin: 0 auto;
  font-size: 3em;
  line-height: 1em;
  width: 11ch; /* 0.7em * 11ch */
  height: 1em;
  color: #222;
  font-weight: 300;
  white-space: nowrap;
  border-right: 0.05em solid;
  overflow: hidden;
  animation: typing 4s steps(11, end), caret 0.5s step-end infinite alternate;
}

.char {
  width: 0.7em;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav {
  margin-bottom: @verticalMargin;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1em;
  list-style-type: none;
  color: #555;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  li {
    &::after {
      margin: 0 0.5em;
      content: "-";
    }
    &:last-child::after {
      content: "";
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: @color-mid;
      padding-bottom: 0.3em;
      border-bottom: 0px;
      transition: color 0.5s ease;
      &::after {
        content: "";
        display: block;
        position: relative;
        top: 0.5em;
        width: 100%;
        height: 1px;
        transition: 0.5s ease;
        opacity: 0;
        background-color: @color-accent-1; /* fallback color if gradients are not supported */
        //background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0) 10%, @color-accent-1 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0)); /* Standard syntax; must be last */
      }
      &:hover::after {
        opacity: 1;
      }
      &:hover {
        color: @color-accent-1;
      }
    }
  }
}

#intro {
  .centralColumn();
  text-align: left;
  margin-bottom: @verticalMargin;
  font-weight: 100;
}

#content {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: @verticalMargin;

    h3 {
      margin: 0 0 @verticalMargin 0;
      .centralColumn();
    }

    ul.section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin: 0;
    }

    li.card {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0.7em;

      img {
        object-fit: contain;
        align-self: center;
        max-width: 29vw;
        width: 400px;
        max-height: 29vw;
        height: 400px;
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@keyframes avatar-bg {
  0% {
    background-position: 75% 0%;
  }
  50% {
    background-position: 26% 100%;
  }
  100% {
    background-position: 75% 0%;
  }
}
@keyframes draw {
  40% {
    stroke-width: 4;
    fill-opacity: 0;
    stroke-dashoffset: 49000px;
  }
  50% {
    stroke-width: 4;
    fill-opacity: 0;
    stroke-dashoffset: 40000px;
  }
  80% {
    stroke-width: 2;
    stroke-dashoffset: 20000px;
  }
  100% {
    stroke-width: 0;
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}
