* {
  box-sizing: border-box;
}
html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fafafa;
  font-family: "Roboto Mono", monospace;
}
header {
  margin: 0 auto;
  margin: 2.5em 5vw;
  text-align: center;
}
a {
  color: blue;
}
a:hover {
  color: #ea64ff;
}
h2 {
  margin: 0 0 2.5em 0;
  font-size: 1.4em;
  text-align: center;
  max-width: 650px;
}
h3 {
  font-weight: bold;
  margin-top: 0;
}
code {
  font-family: inherit;
  letter-spacing: -0.5pt;
  background-color: #eeeeee;
  padding: 0.1em 0.3em;
  border-radius: 5px;
  font-size: 0.9em;
  display: inline-flex;
  vertical-align: middle;
}
pre {
  font-family: inherit;
  background-color: #eeeeee;
}
pre code {
  background: none;
}
#avatar-wrapper {
  box-sizing: border-box;
  max-width: 20em;
  width: 40vw;
  max-height: 20em;
  height: 40vw;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #111111;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  background: linear-gradient(216deg, #ffffff, #ffffff, #ffd0e4, #ceffdf, #ccd4ff, #fbffda, #daffff, #f7daff);
  background-size: 2000px 2000px;
  background-position: 75% 0%;
  animation: 50s linear 2s infinite normal avatar-bg;
}
#avatar {
  max-width: 20em;
  width: 40vw;
  max-height: 20em;
  height: 40vw;
}
#avatar path {
  fill-opacity: 0;
  stroke-width: 4;
  stroke: black;
  stroke-dasharray: 53302px;
  stroke-dashoffset: 53302px;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: draw;
  animation-timing-function: linear;
  animation-duration: 4s;
}
#name {
  margin: 0 auto;
  font-size: 3em;
  line-height: 1em;
  width: 11ch;
  /* 0.7em * 11ch */
  height: 1em;
  color: #222;
  font-weight: 300;
  white-space: nowrap;
  border-right: 0.05em solid;
  overflow: hidden;
  animation: typing 4s steps(11, end), caret 0.5s step-end infinite alternate;
}
.char {
  width: 0.7em;
  margin: 0;
  padding: 0;
  display: inline-block;
}
nav {
  margin-bottom: 5em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1em;
  list-style-type: none;
  color: #555;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav li::after {
  margin: 0 0.5em;
  content: "-";
}
nav li:last-child::after {
  content: "";
}
nav li a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  padding-bottom: 0.3em;
  border-bottom: 0px;
  transition: color 0.5s ease;
}
nav li a::after {
  content: "";
  display: block;
  position: relative;
  top: 0.5em;
  width: 100%;
  height: 1px;
  transition: 0.5s ease;
  opacity: 0;
  background-color: #ec6dff;
  /* fallback color if gradients are not supported */
}
nav li a:hover::after {
  opacity: 1;
}
nav li a:hover {
  color: #ec6dff;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 2em;
}
#app .intro {
  max-width: 650px;
  text-align: left;
  margin-bottom: 5em;
}
#app div.announcements {
  max-width: 650px;
  margin-bottom: 5em;
  margin-top: -2.5em;
}
#app div.announcements h2 {
  color: #ea64ff;
}
#app div.announcements div.content {
  padding: 1em;
  border: 1px solid #333333;
  box-shadow: 2px 2px #111111;
}
#app section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}
#app section ul.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
#app section li.card {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0.7em;
}
#app section li.card .description {
  font-size: 0.85em;
}
#app section ul.photography li.card img {
  object-fit: contain;
  align-self: center;
  max-width: 29vw;
  width: 400px;
  max-height: 29vw;
  height: 400px;
}
#app section .articles-subtitle {
  max-width: 650px;
  margin-left: 0.7em;
}
#app section ul.articles {
  max-width: 650px;
}
#app section ul.articles li.card {
  flex-grow: 1;
  background: #eeeeee;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #666666;
  padding: 1em;
  width: 100%;
}
#app section ul.articles li.card div.wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
}
#app section ul.articles li.card div.wrapper .top {
  display: flex;
  flex-flow: row;
}
#app section ul.articles li.card div.wrapper .top .thumbnail {
  width: 30%;
  object-fit: cover;
  margin-right: 1em;
}
#app section ul.articles li.card div.wrapper div.meta {
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 1em;
  display: flex;
  align-items: center;
}
#app section ul.articles li.card div.wrapper div.meta .favicon {
  height: 16px;
  margin: 0 8px 0 8px;
}
#app section ul.articles li.card div.wrapper div.meta .date {
  margin: 0 8px 0 8px;
  font-weight: 400;
}
#app section ul.projects {
  max-width: 650px;
}
#app section ul.projects li.card {
  flex-grow: 1;
  border: 1px solid #333333;
  box-shadow: 2px 2px 0px #111111;
  padding: 1em;
  width: 100%;
}
#app section ul.projects li.card div.wrapper {
  width: 100%;
}
#app section ul.projects li.card ul.meta {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  font-size: 0.85em;
  font-weight: 300;
}
#app section ul.projects li.card ul.meta li {
  margin-right: 1em;
  vertical-align: middle;
}
#app section ul.projects li.card ul.meta li.stars::before {
  content: "⭐️ ";
}
#app section ul.projects li.card ul.meta li.forks::before {
  content: "🔀 ";
}
#app section.contact div.contact-markdown {
  max-width: 650px;
}
#app section.contact h2 {
  margin: 1.25em 0;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
@keyframes avatar-bg {
  0% {
    background-position: 75% 0%;
  }
  50% {
    background-position: 26% 100%;
  }
  100% {
    background-position: 75% 0%;
  }
}
@keyframes draw {
  40% {
    stroke-width: 4;
    fill-opacity: 0;
    stroke-dashoffset: 49000px;
  }
  50% {
    stroke-width: 4;
    fill-opacity: 0;
    stroke-dashoffset: 40000px;
  }
  80% {
    stroke-width: 2;
    stroke-dashoffset: 20000px;
  }
  100% {
    stroke-width: 0;
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}
